<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        .red_require{
            color: red;
        }
        .red_message{
            color: red;
            font-style: italic;
            font-size: 0.875em;
        }
    </style>
    <title>Add Product</title>
</head>
<body class="container p-3 mb-2 bg-light text-dark">
<h4>Thông tin sản phẩm</h4>
<hr>
<form method="post" th:object="${product}" th:action="${action}">
    <span class="red_message" style="margin-bottom: 6px;">(*) Trường không được bỏ trống</span>
    <div class="row">
        <div class="col">
            Mã sản phẩm: <span class="red_require"> *</span>
            <input type="text" class="form-control mt-2" name="code" placeholder="---Mã tự động nếu bỏ trống---" th:field="*{code}">
        </div>
        <div class="col">
            Tên sản phẩm: <span class="red_require"> *</span>
            <input type="text" class="form-control mt-2" name="name" placeholder="Mời nhập tên sản phẩm" th:field="*{name}">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            Thương hiệu: <span class="red_require">*</span>
            <select class="form-select mt-2" th:field="*{brand}">
                <th:block th:each="brand : ${brand}">
                    <option th:value="${brand.id}" th:text="${brand.name}"></option>
                </th:block>
            </select>
        </div>
        <div class="col">
            Chất liệu: <span class="red_require"> *</span>
            <select name="material" class="form-select mt-2" th:field="*{material}">
                <th:block th:each = "material : ${material}">
                    <option th:value="${material.id}"  th:text="${material.name}"/>
                </th:block>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            Giới tính: <span class="red_require"> *</span>
            <select name="gender" class="form-select mt-2" th:field="*{gender}">
                <option th:value="1">Nam</option>
                <option th:value="0">Nữ</option>
                <option th:value="2">Unisex</option>
            </select>
        </div>
        <div class="col">
            Mô tả: <textarea name="describe" class="form-control mt-2" placeholder="Mời nhập mô tả (nếu có)"></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Lưu lại</button>
    <a href="/" class="btn btn-light">Hủy</a>
</form>
<script>
    function addAttribute() {
        var container = document.getElementById("attributes-container");
        var attributeRow = document.querySelector(".attribute-row");
        var newAttributeRow = attributeRow.cloneNode(true);
        newAttributeRow.querySelectorAll('input').forEach(input => input.value = "");
        newAttributeRow.querySelectorAll('select').forEach(select => select.selectedIndex = 0);
        container.appendChild(newAttributeRow);
    }

    document.getElementById('imageInput').addEventListener('change', function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('imageUploads').setAttribute('src', e.target.result);
            };
            reader.readAsDataURL(file);
        }
    });
    document.getElementById('imageInput').addEventListener('change', function() {
        const files = this.files;
        const previewContainer = document.getElementById('imagePreviewContainer');
        previewContainer.innerHTML = '';
        Array.from(files).forEach(file => {
            if (file && (file.type.startsWith('image/jpeg') || file.type.startsWith('image/png') || file.type.startsWith('image/gif'))) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const img = document.createElement('img');
                    img.setAttribute('src', e.target.result);
                    img.setAttribute('width', '200px');
                    img.setAttribute('height', '200px');
                    img.style.margin = '10px';
                    previewContainer.appendChild(img);
                };
                reader.readAsDataURL(file);
            }
        });
    });
</script>
</body>
</html>
