<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Giảm giá sản phẩm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <style>
        td {
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .dataTables_length {
            display: none !important;
        }

        /* Căn chỉnh trung tâm cho tiêu đề bảng */
        #myTable th {
            text-align: center;
            vertical-align: middle;
            padding: 10px 15px;
        }

        /* Căn chỉnh các ô dữ liệu */
        #myTable td {
            text-align: center;
            vertical-align: middle;
            padding: 8px 15px;
        }

        /* Cài đặt chiều rộng tối thiểu cho các cột để các ô không quá hẹp */
        #myTable th:nth-child(1),
        #myTable td:nth-child(1) { width: 8%; }  /* Mã SP */

        #myTable th:nth-child(2),
        #myTable td:nth-child(2) { width: 20%; } /* Tên sản phẩm */

        #myTable th:nth-child(3),
        #myTable td:nth-child(3) { width: 10%; } /* Màu */

        #myTable th:nth-child(4),
        #myTable td:nth-child(4) { width: 7%; }  /* Cỡ */

        #myTable th:nth-child(5),
        #myTable td:nth-child(5) { width: 12%; } /* Giá gốc */

        #myTable th:nth-child(6),
        #myTable td:nth-child(6) { width: 12%; } /* Giá giảm */

        #myTable th:nth-child(7),
        #myTable td:nth-child(7) { width: 15%; } /* Thời gian áp dụng */

        #myTable th:nth-child(8),
        #myTable td:nth-child(8) { width: 15%; } /* Thời gian kết thúc */

        #myTable th:nth-child(9),
        #myTable td:nth-child(9) { width: 10%; } /* Trạng thái */

        #myTable th:nth-child(10),
        #myTable td:nth-child(10) { width: 10%; } /* Thao tác */

             /* CSS cho hiệu ứng hover nút Tạo giảm giá + */
         .btn-success {
             background-color: #28a745; /* Màu nền gốc của nút */
             color: white;
             transition: background-color 0.3s ease; /* Thêm hiệu ứng chuyển màu mượt mà */
         }
        .btn-success:hover {
            background-color: #218838; /* Màu nền đậm hơn khi hover */
        }

    </style>
</head>
<body>

<div class="bg-white min-vh-100">
    <div class="" layout:fragment="content">
        <div class="section bg-white px-3 py-3 min-vh-100">
            <h2 class="mt-3">Quản lý giảm giá sản phẩm</h2>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Giảm giá sản phẩm</li>
                </ol>
            </nav>
            <div class="d-flex flex-row-reverse">
                <a th:href="@{/admin-only/product-discount-create}" class="btn btn-success">Tạo giảm giá +</a>
            </div>
            <div class="alert alert-success" th:if="${message != null}" th:text="${message}"></div>

            <div class="mt-3">
<!--                <form id="filterForm" class="d-flex mb-3">-->
<!--                    <div class="me-2">-->
<!--                        <label for="colorFilter" class="form-label">Màu sắc</label>-->
<!--                        <select id="colorFilter" name="color" class="form-select">-->
<!--                            <option value="">Chọn màu sắc</option>-->
<!--                            <th:block th:each="color : ${colors}">-->
<!--                                <option th:value="${color.name}" th:text="${color.name}" th:selected="${color.name == selectedColor}"></option>-->


<!--                            </th:block>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <div class="me-2">-->
<!--                        <label for="sizeFilter" class="form-label">Kích cỡ</label>-->
<!--                        <select id="sizeFilter" name="size" class="form-select">-->
<!--                            <option value="">Chọn kích cỡ</option>-->
<!--                            <th:block th:each="size : ${sizes}">-->
<!--                                <option th:value="${size.name}" th:text="${size.name}" th:selected="${size.name == selectedSize}"></option>-->
<!--                            </th:block>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <button type="button" id="filterBtn" class="btn btn-primary align-self-end me-2">-->
<!--                        <i class="bi bi-funnel"></i> Lọc-->
<!--                    </button>-->
<!--                    <button type="button" id="resetBtn" class="btn btn-secondary align-self-end ms-2">-->
<!--                        <i class="bi bi-x-circle"></i> Hủy-->
<!--                    </button>-->
<!--                </form>-->

                <table id="myTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Mã SP</th>
                        <th>Tên sản phẩm</th>
                        <th>Màu</th>
                        <th>Cỡ</th>
                        <th>Giá gốc</th>
                        <th>Giá giảm</th>
                        <th>Thời gian áp dụng</th>
                        <th>Thời gian kết thúc</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="discount : ${productDiscounts}">
                        <td><span th:text="${discount.productDetail.product.code}"></span></td>
                        <td><span th:text="${discount.productDetail.product.name}"></span></td>
                        <td><span th:text="${discount.productDetail.color.name}"></span></td>
                        <td><span th:text="${discount.productDetail.size.name}"></span></td>
                        <td><span th:text="${#numbers.formatDecimal(discount.productDetail.price, 0, 'POINT', 0, 'COMMA')}"></span></td>
                        <td><span th:text="${#numbers.formatDecimal(discount.discountedAmount, 0, 'POINT', 0, 'COMMA')}"></span></td>
                        <td><span th:text="${#dates.format(discount.startDate, 'dd/MM/yyyy')}"></span></td>
                        <td><span th:text="${#dates.format(discount.endDate, 'dd/MM/yyyy')}"></span></td>
                        <td>
                            <span th:if="${discount.closed}" class="badge badge-danger">Đã đóng</span>
                            <span th:if="${!discount.closed}" class="badge badge-success">Hoạt động</span>
                        </td>
                        <td>
                            <button th:if="${!discount.closed}" th:data-close-id="${discount.id}" class="close-discount-btn btn btn-outline-danger rounded">Đóng</button>
                            <button th:if="${discount.closed}" th:data-open-id="${discount.id}" class="open-discount-btn btn btn-outline-success rounded">Mở</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script th:inline="javascript">
            $(document).ready(function () {
                // Initialize DataTable
                new DataTable('#myTable', {
                    order: [],
                    lengthChange: false,
                    language: {
                        search: "Tìm kiếm:",
                        zeroRecords: "Không tìm thấy bản ghi nào",
                        info: "Hiển thị trang _PAGE_ trong _PAGES_",
                        paginate: {
                            first: "<<",
                            last: ">>",
                            next: ">",
                            previous: "<"
                        },
                    }
                });

                // // Thiết lập sự kiện cho nút Lọc
                // $('#filterBtn').on('click', function () {
                //     var color = $('#colorFilter').val();
                //     var size = $('#sizeFilter').val();
                //     var url = `/admin-only/product-discount?color=${encodeURIComponent(color)}&size=${encodeURIComponent(size)}`;
                //     window.location.href = url; // Điều hướng đến URL có tham số lọc
                // });
                // // Sự kiện cho nút Hủy
                // $('#resetBtn').on('click', function () {
                //     // Xóa giá trị trong các ô input lọc
                //     $('#colorFilter').val('');
                //     $('#sizeFilter').val('');
                //
                //     // Điều hướng về trang không có tham số lọc
                //     window.location.href = '/admin-only/product-discount';
                // });
                // Thiết lập sự kiện cho các nút Đóng/Mở giảm giá
                setEvent();
                function setEvent() {
                    // Sự kiện đóng giảm giá
                    $('#myTable').on('click', '.close-discount-btn', function () {
                        var closeId = $(this).attr('data-close-id');
                        Swal.fire({
                            title: 'Đóng giảm giá',
                            text: 'Bạn chắc chắn muốn đóng giảm giá này',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Xác nhận',
                            cancelButtonText: 'Hủy'
                        }).then(async (result) => {
                            if (result.isConfirmed) {
                                await $.ajax({
                                    type: 'POST',
                                    url: `/api/private/product-discount/${closeId}/status/true`,
                                    dataType: 'json',
                                    success: async function () {
                                        Toastify({
                                            text: "Đóng giảm giá thành công",
                                            className: "success",
                                            style: {
                                                background: "green",
                                            }
                                        }).showToast();
                                        updateRow(closeId, 'closed');
                                    },
                                    error: function (xhr, status, error) {
                                        Swal.fire("Error", xhr.responseJSON.message, "error");
                                    }
                                });
                            }
                        });
                    });

                    // Sự kiện mở giảm giá
                    $('#myTable').on('click', '.open-discount-btn', function () {
                        var openId = $(this).attr('data-open-id');
                        Swal.fire({
                            title: 'Mở giảm giá',
                            text: 'Bạn chắc chắn muốn mở giảm giá này',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Xác nhận',
                            cancelButtonText: 'Hủy'
                        }).then(async (result) => {
                            if (result.isConfirmed) {
                                await $.ajax({
                                    type: 'POST',
                                    url: `/api/private/product-discount/${openId}/status/false`,
                                    dataType: 'json',
                                    success: async function () {
                                        Toastify({
                                            text: "Mở giảm giá thành công",
                                            className: "success",
                                            style: {
                                                background: "green",
                                            }
                                        }).showToast();
                                        updateRow(openId, 'active');
                                    },
                                    error: function (xhr, status, error) {
                                        Swal.fire("Error", xhr.responseJSON.message, "error");
                                    }
                                });
                            }
                        });
                    });
                }

                function updateRow(id, status) {
                    var row = $(`button[data-close-id="${id}"], button[data-open-id="${id}"]`).closest('tr');
                    if (status === 'closed') {
                        row.find('.badge-success').removeClass('badge-success').addClass('badge-danger').text('Đã đóng');
                        row.find('.close-discount-btn').replaceWith(`<button data-open-id="${id}" class="open-discount-btn btn btn-outline-success rounded">Mở</button>`);
                    } else {
                        row.find('.badge-danger').removeClass('badge-danger').addClass('badge-success').text('Hoạt động');
                        row.find('.open-discount-btn').replaceWith(`<button data-close-id="${id}" class="close-discount-btn btn btn-outline-danger rounded">Đóng</button>`);
                    }
                }
            });
        </script>
    </div>
</div>

</body>
</html>