<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Thông tin mã giảm giá</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div layout:fragment="content" class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Thông tin mã giảm giá</h2>
                    <div class="alert alert-danger" th:if="${message != null}" th:text="${message}"></div>
                    <form method="POST" id="discount-code-form" th:action="${action}" th:object="${DiscountCode}">
                        <input type="hidden" th:field="*{id}">
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label for="code">Mã giảm giá <span class="red_require">*</span></label>
                                <input type="text" class="form-control" th:field="*{code}" id="code" placeholder="VD: BIRTHDAY2023">
                                <span class="error"></span>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="startDate">Ngày áp dụng <span class="red_require">*</span></label>
                                <input type="date" class="form-control" th:field="*{startDate}" id="startDate">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label for="endDate">Ngày kết thúc <span class="red_require">*</span></label>
                                <input type="date" class="form-control" th:field="*{endDate}" id="endDate">
                                <span class="error"></span>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Phương thức giảm <span class="red_require">*</span></label>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input custom-radio" th:field="*{type}" th:value="1" id="type1" th:checked="${DiscountCode.type == 1}">
                                    <label class="form-check-label" for="type1">Giảm theo phần trăm</label>
                                    <input type="radio" class="form-check-input custom-radio" th:field="*{type}" th:value="2" id="type2" th:checked="${DiscountCode.type == 2}">
                                    <label class="form-check-label" for="type2">Giảm theo tiền</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6" id="discount-by-money">
                                <label for="discountAmount">Số tiền giảm (đ) <span class="red_require">*</span></label>
                                <input type="text" class="form-control" th:field="*{discountAmount}" id="discountAmount" placeholder="VD: 10000">
                                <span class="error"></span>
                            </div>
                            <div class="form-group col-sm-6" id="discount-by-percent">
                                <label for="percentage">Phần trăm giảm (%) <span class="red_require">*</span></label>
                                <input type="text" class="form-control" th:field="*{percentage}" id="percentage" placeholder="VD: 20">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6" id="max-amount-by-percent">
                                <label for="maximumAmount">Số tiền giảm tối đa (đ) <span class="red_require">*</span></label>
                                <input type="text" class="form-control" th:field="*{maximumAmount}" id="maximumAmount" placeholder="VD: 20000">
                                <span class="error"></span>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="minimumAmountInCart">Số tiền áp dụng cho đơn tối thiểu từ (đ) <span class="red_require">*</span></label>
                                <input type="text" class="form-control" th:field="*{minimumAmountInCart}" id="minimumAmountInCart" placeholder="VD: 100000">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label for="maximumUsage">Số lượng tối đa <span class="red_require">*</span></label>
                                <input type="text" class="form-control" th:field="*{maximumUsage}" id="maximumUsage" placeholder="VD: 123">
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-4">
                            <a th:href="@{/admin-only/discount-code}" class="btn btn-outline-danger mr-2">Hủy</a>
                            <button type="submit" class="btn btn-custom">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script th:inline="javascript">
        $(document).ready(function () {
            var type = /*[[${DiscountCode.type}]]*/ '';
            $("#discount-by-money").hide();
            $("#discountAmount").prop('disabled', true);
            if(type == 2) {
                $("#discount-by-percent").hide();
                $("#max-amount-by-percent").hide();
                $("#discount-by-money").show();
                $("#discountAmount").prop('disabled', false);
                $('#percentage').prop('disabled', true);
                $('#maximumAmount').prop('disabled', true);
            }

            $("#type1").on("click", function () {
                $("#discount-by-money").hide();
                $("#discount-by-percent").show();
                $("#max-amount-by-percent").show();
                $("#discountAmount").prop('disabled', true);
                $('#percentage').prop('disabled', false);
                $('#maximumAmount').prop('disabled', false);
            });

            $("#type2").on("click", function () {
                $("#discount-by-money").show();
                $("#discount-by-percent").hide();
                $("#max-amount-by-percent").hide();
                $("#discountAmount").prop('disabled', false);
                $('#percentage').prop('disabled', true);
                $('#maximumAmount').prop('disabled', true);
            });

            Validator({
                form: '#discount-code-form',
                formGroupSelector: '.form-group',
                errorSelector: '.error',
                rules: [
                    Validator.isRequired('#code', 'Vui lòng nhập mã giảm giá'),
                    Validator.isRequired('#startDate', 'Vui lòng nhập ngày bắt đầu'),
                    Validator.isRequired('#endDate', 'Vui lòng nhập ngày kết thúc'),
                    Validator.isRequired('#maximumUsage', "Vui lòng nhập số lượng tối đa"),
                    Validator.isRequired('#discountAmount', "Vui lòng nhập số tiền giảm giá"),
                    Validator.isRequired('#minimumAmountInCart', "Vui lòng nhập số tiền áp dụng cho đơn tối thiểu"),
                    Validator.isRequired('#percentage', 'Vui lòng nhập phần trăm giảm'),
                    Validator.isRequired('#maximumAmount', 'Vui lòng nhập số tiền giảm tối đa mỗi đơn'),
                    Validator.maxLength('#code', 50),
                    Validator.isValidStartDateEndDate('#startDate', () =>  {
                        return document.querySelector('#discount-code-form #endDate').value;
                    }, 'Ngày áp dụng phải nhỏ hơn ngày kết thúc')
                ]
            });

            $("#percentage").on('input', function () {
                if(parseInt($(this).val()) > 98) {
                    $(this).val(98);
                }
            });

            $("#maximumAmount").on('input', function () {
                if(parseInt($(this).val()) < 0) {
                    $(this).val(0);
                }
            });

            $("#discountAmount").on('input', function () {
                if(parseInt($(this).val()) < 0) {
                    $(this).val(0);
                }
            });

            $("#minimumAmountInCart").on('input', function () {
                if(parseInt($(this).val()) < 0) {
                    $(this).val(0);
                }
            });

            $("#maximumUsage").on('input', function () {
                if(parseInt($(this).val()) < 0) {
                    $(this).val(0);
                }
            });
        });
    </script>
</div>
</body>
</html>
