<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout-user.html}">
<head>
    <meta charset="UTF-8">
    <title>Áo Phông Gelato</title>
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<div layout:fragment="content">

    <!-- Title page -->
    <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
        <h2 class="ltext-105 cl0 txt-center">
            Về Áo Phông Gelato
        </h2>
    </section>

    <!-- Content page -->
    <section class="bg0 p-t-75 p-b-120">
        <div class="container">
            <div class="row p-b-148">
                <div class="col-md-7 col-lg-8">
                    <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                        <h3 class="mtext-111 cl2 p-b-16">
                            Về chúng tôi
                        </h3>

                        <p class="stext-113 cl6 p-b-26">
                            Chào mừng đến với Áo Phông Gelato - nơi thời trang và sự thoải mái hòa quyện. Chúng tôi chuyên cung cấp các dòng áo phông chất lượng cao, phù hợp với mọi phong cách và lứa tuổi. Gelato cam kết mang đến cho bạn những sản phẩm độc đáo và trải nghiệm mua sắm thú vị nhất.
                        </p>

                        <p class="stext-113 cl6 p-b-26">
                            Tại Gelato, chúng tôi không chỉ bán áo phông, mà còn chia sẻ cảm hứng về phong cách sống năng động. Các sản phẩm của chúng tôi được thiết kế tối ưu để mang lại sự thoải mái và tự tin, từ những mẫu basic đến các thiết kế thời thượng cho mọi dịp.
                        </p>

                        <p class="stext-113 cl6 p-b-26">
                            Bạn có câu hỏi nào? Vui lòng liên hệ cửa hàng tại Tòa nhà The Zei , số 6 Lê Đức Thọ.
                        </p>
                    </div>
                </div>

                <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                    <div class="how-bor1">
                        <div class="hov-img0">
                            <img src="images/about-01.jpg" alt="Áo Phông Gelato">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                    <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                        <h3 class="mtext-111 cl2 p-b-16">
                            Sứ mệnh
                        </h3>

                        <p class="stext-113 cl6 p-b-26">
                            Tại Gelato, sứ mệnh của chúng tôi không chỉ dừng lại ở việc bán áo phông, mà còn tạo ra những khoảnh khắc ý nghĩa thông qua thời trang. Chúng tôi mong muốn mang đến sự thoải mái, tự tin và phong cách cho mọi khách hàng.
                        </p>

                        <div class="bor16 p-l-29 p-b-9 m-t-22">
                            <p class="stext-114 cl6 p-r-40 p-b-11">
                                "Sứ mệnh của chúng tôi là biến mỗi chiếc áo phông trở thành một phần câu chuyện của bạn, giúp bạn thể hiện bản thân một cách chân thực và tự nhiên nhất."
                            </p>

                            <span class="stext-111 cl8">
                                - Đội ngũ Gelato
                            </span>
                        </div>
                    </div>
                </div>

                <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                    <div class="how-bor2">
                        <div class="hov-img0">
                            <img src="images/about-02.jpg" alt="Sứ Mệnh Gelato">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>
</div>

<script th:src="@{/js/main.js}"></script>
</body>
</html>
