<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout-user.html}">
<head>
    <meta charset="UTF-8">
    <title>Blog Áo Phông</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>

<div layout:fragment="content">

    <!-- Title page -->
    <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-02.jpg');">
        <h2 class="ltext-105 cl0 txt-center">
            Blog Áo Phông
        </h2>
    </section>

    <!-- Content page -->
    <section class="bg0 p-t-62 p-b-60">
        <div class="container">
            <div class="row">
                <!-- Nội dung chính -->
                <div class="col-md-8 col-lg-9 p-b-80">
                    <div class="p-r-45 p-r-0-lg">
                        <!-- Bài viết 1 -->
                        <div class="p-b-63">
                            <a href="blog-detail.html" class="hov-img0 how-pos5-parent">
                                <img src="images/blog-04.jpg" alt="IMG-BLOG">
                                <div class="flex-col-c-m size-123 bg9 how-pos5">
                                    <span class="ltext-107 cl2 txt-center">22</span>
                                    <span class="stext-109 cl3 txt-center">Tháng 1, 2024</span>
                                </div>
                            </a>
                            <div class="p-t-32">
                                <h4 class="p-b-15">
                                    <a href="blog-detail.html" class="ltext-108 cl2 hov-cl1 trans-04">
                                        5 Cách Phối Đồ Với Áo Phông Đơn Giản Nhưng Đẹp Mắt
                                    </a>
                                </h4>
                                <p class="stext-117 cl6">
                                    Áo phông luôn là lựa chọn hàng đầu bởi sự thoải mái và dễ phối đồ. Hãy thử kết hợp với quần jeans, chân váy hoặc layer với áo khoác blazer để có phong cách thời trang hàng ngày.
                                </p>
                                <div class="flex-w flex-sb-m p-t-18">
                                    <a href="blog-detail.html" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
                                        Chi tiết
                                        <i class="fa fa-long-arrow-right m-l-9"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Bài viết 2 -->
                        <div class="p-b-63">
                            <a href="blog-detail.html" class="hov-img0 how-pos5-parent">
                                <img src="images/blog-05.jpg" alt="IMG-BLOG">
                                <div class="flex-col-c-m size-123 bg9 how-pos5">
                                    <span class="ltext-107 cl2 txt-center">18</span>
                                    <span class="stext-109 cl3 txt-center">Tháng 1, 2024</span>
                                </div>
                            </a>
                            <div class="p-t-32">
                                <h4 class="p-b-15">
                                    <a href="blog-detail.html" class="ltext-108 cl2 hov-cl1 trans-04">
                                        Tại Sao Ai Cũng Nên Có Một Chiếc Áo Phông Trắng?
                                    </a>
                                </h4>
                                <p class="stext-117 cl6">
                                    Áo phông trắng là item không thể thiếu trong tủ đồ. Với sự đơn giản và linh hoạt, bạn có thể biến tấu nó từ phong cách công sở đến dạo phố mà không cần tốn quá nhiều thời gian suy nghĩ.
                                </p>
                                <div class="flex-w flex-sb-m p-t-18">
                                    <a href="blog-detail.html" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
                                        Chi tiết
                                        <i class="fa fa-long-arrow-right m-l-9"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Bài viết 3 -->
                        <div class="p-b-63">
                            <a href="blog-detail.html" class="hov-img0 how-pos5-parent">
                                <img src="images/blog-06.jpg" alt="IMG-BLOG">
                                <div class="flex-col-c-m size-123 bg9 how-pos5">
                                    <span class="ltext-107 cl2 txt-center">16</span>
                                    <span class="stext-109 cl3 txt-center">Tháng 2, 2024</span>
                                </div>
                            </a>
                            <div class="p-t-32">
                                <h4 class="p-b-15">
                                    <a href="blog-detail.html" class="ltext-108 cl2 hov-cl1 trans-04">
                                        Các Mẫu Áo Phông Hot Nhất Mùa Xuân 2024
                                    </a>
                                </h4>
                                <p class="stext-117 cl6">
                                    Khám phá những mẫu áo phông mới nhất năm 2024, từ họa tiết nổi bật đến chất liệu thân thiện với môi trường. Đây là những item bạn không thể bỏ qua trong mùa xuân này!
                                </p>
                                <div class="flex-w flex-sb-m p-t-18">
                                    <a href="blog-detail.html" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
                                        Chi tiết
                                        <i class="fa fa-long-arrow-right m-l-9"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar -->
                <div class="col-md-4 col-lg-3 p-b-80">
                    <div class="side-menu">
                        <!-- Sản phẩm nổi bật -->
                        <div class="p-t-65">
                            <h4 class="mtext-112 cl2 p-b-33">Sản phẩm nổi bật</h4>
                            <ul>
                                <li class="flex-w flex-t p-b-30">
                                    <a href="#" class="wrao-pic-w size-214 hov-ovelay1 m-r-20">
                                        <img src="images/product-min-01.jpg" alt="PRODUCT">
                                    </a>
                                    <div class="size-215 flex-col-t p-t-8">
                                        <a href="#" class="stext-116 cl8 hov-cl1 trans-04">
                                            Áo Phông Basic
                                        </a>
                                        <span class="stext-116 cl6 p-t-20">190.000</span>
                                    </div>
                                </li>
                                <li class="flex-w flex-t p-b-30">
                                    <a href="#" class="wrao-pic-w size-214 hov-ovelay1 m-r-20">
                                        <img src="images/product-min-02.jpg" alt="PRODUCT">
                                    </a>
                                    <div class="size-215 flex-col-t p-t-8">
                                        <a href="#" class="stext-116 cl8 hov-cl1 trans-04">
                                            Áo Phông Phượng Hoàng
                                        </a>
                                        <span class="stext-116 cl6 p-t-20">3.900.000</span>
                                    </div>
                                </li>
                                <li class="flex-w flex-t p-b-30">
                                    <a href="#" class="wrao-pic-w size-214 hov-ovelay1 m-r-20">
                                        <img src="images/product-min-03.jpg" alt="PRODUCT">
                                    </a>
                                    <div class="size-215 flex-col-t p-t-8">
                                        <a href="#" class="stext-116 cl8 hov-cl1 trans-04">
                                            Áo Phông Cổ Tàu
                                        </a>
                                        <span class="stext-116 cl6 p-t-20">1.700.000</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- Bộ sưu tập -->
                        <div class="p-t-55">
                            <h4 class="mtext-112 cl2 p-b-20">Bộ sưu tập</h4>
                            <ul>
                                <li class="p-b-7">
                                    <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                        <span>T6 2024</span>
                                        <span>(9)</span>
                                    </a>
                                </li>
                                <li class="p-b-7">
                                    <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                        <span>T7 2024</span>
                                        <span>(39)</span>
                                    </a>
                                </li>
                                <li class="p-b-7">
                                    <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                        <span>T8 2024</span>
                                        <span>(14)</span>
                                    </a>
                                </li>
                                <li class="p-b-7">
                                    <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                        <span>T9 2024</span>
                                        <span>(23)</span>
                                    </a>
                                </li>
                                <li class="p-b-7">
                                    <a href="#" class="flex-w flex-sb-m stext-115 cl6 hov-cl1 trans-04 p-tb-2">
                                        <span>T10 2024</span>
                                        <span>(31)</span>
                                    </a>
                                </li>

                                <!-- Các mục khác -->
                            </ul>
                        </div>

                        <!-- Tags -->
                        <div class="p-t-50">
                            <h4 class="mtext-112 cl2 p-b-27">Tags</h4>
                            <div class="flex-w m-r--5">
                                <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                    Thời trang
                                </a>
                                <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                    Đời sống
                                </a>
                                <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                    Denim
                                </a>
                                <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                    Đường phố
                                </a>
                                <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                    Hàng thủ công
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>
