<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Quản lý thương hiệu</title>
    <th:block layout:fragment="head_link"></th:block>
</head>
<body>
<div layout:fragment="content">
    <h3>Thông tin thương hiệu</h3>
    <hr>
    <form th:object="${brand}" method="post">
        <div class="row">
            <div class="col">
                <label class="form-label">Mã thương hiệu</label>
                <input type="text" class="form-control" th:field="*{code}">
                <span class="text-danger" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
            </div>
            <div class="col">
                <label class="form-label">Tên thương hiệu</label>
                <input type="text" class="form-control" th:field="*{name}">
                <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
        </div>
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <button type="submit" class="btn btn-success">Lưu lại</button>
            <a th:href="@{/admin/brand-all}" class="btn btn-dark">Hủy</a> <!-- Điều chỉnh đường dẫn -->
        </div>
    </form>
</div>
</body>
<th:block layout:fragment="bottom_link"></th:block>
</html>
