<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head th:replace="fragments-admin::page_head('Product Management')">
    <th:block layout:fragment="head_link"></th:block>
</head>
<body >
<div layout:fragment="content">
    <h3 style="margin-top: 5px">Quản lý sản phẩm</h3>
    <hr>
    <div class="row">
        <div class="col">
            Mã sản phẩm: <input type="text" class="form-control" placeholder="Mời nhập mã sản phẩm" th:value="${maSanPham}">
        </div>
        <div class="col">
            Tên sản phẩm: <input type="text" class="form-control" placeholder="Mời nhập tên sản phẩm" th:value="${tenSanPham}">
        </div>
        <div class="col">
            Thương hiệu: <select name="brand" class="form-select" th:value="${nhanHang}">
            <option value="">Tất cả</option>
            <th:block th:each="brand : ${brand}">
                <option value="${brand.id}" label th:text="${brand.name}" th:selected="${brand.id == nhanHang}"/>
            </th:block>
        </select>
        </div>
        <div class="col">
            Chất liệu: <select name="material" class="form-select" th:value="${chatLieu}">
            <option value="">Tất cả</option>
            <th:block th:each="material : ${material}">
                <option value="${material.id}" label th:text="${material.name}" th:selected="${material.id == chatLieu}"/>
            </th:block>
        </select>
        </div>
        <div class="col">
            Trạng thái: <select name="trangThai" class="form-select" th:value="${trangThai}">
            <option th:value="null">Tất cả</option>
            <option value="1" th:text="'Còn bán'" th:selected="${trangThai == 1}"></option>
            <option value="2" th:text="'Ngừng bán'" th:selected="${trangThai == 2}"></option>
        </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 7px;">Search</button>
    <button type="submit" class="btn btn-light" style="margin-top: 10px; margin-bottom: 4px;">Cancel</button>
    <hr>
    <div class="alert alert-success" role="alert" th:if="${message}" th:text="${message}" style="margin-top: 12px;margin-bottom: 12px;"></div>
    <div style="margin-top: 70px;">
        <a th:href="@{/admin/product-create}" class="btn btn-success mb-4" style="float: right">Thêm sản phẩm +</a>
    </div>
    <table class="table table-hover">
        <thead>
        <th>Mã SP</th>
        <th>Tên SP</th>
        <th>Thương hiệu</th>
        <th>Chất liệu</th>
        <th>Trạng thái</th>
        <th>Hành động</th>
        </thead>
        <tbody>
        <tr th:each="p : ${product}">
            <td th:text="${p.code}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.brand.name}"></td>
            <td th:text="${p.material.name}"></td>
            <td>
                <span th:classappend="${p.status == 1 ? 'bg-success text-white px-2' : 'bg-danger text-white px-2'}"
                      th:text="${p.status == 1 ? 'Còn bán' : 'Ngừng bán'}"
                      style="border-radius: 0.25rem;"></span>
            </td>
            <td>
                <a th:href="@{'/admin/product/detail/'+${p.id}}" class="btn btn-dark btn-sm">Detail</a>
                <a th:href="@{'/admin/product/update/'+${p.id}}" class="btn btn-dark btn-sm">Update</a>
                <a th:href="@{'/admin/product/remove/'+${p.id}}" class="btn btn-dark btn-sm">Remove</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm justify-content-end">
            <li th:if="${currentPage > 1}" class="page-item">
                <a class="page-link" th:href="@{'?page=' + ${currentPage - 1}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="i : ${#numbers.sequence(1, totalPage)}" class="page-item" th:classappend="${currentPage == i ? 'active' : ''}">
                <a class="page-link" th:href="@{'?page='+${i}}" th:text="${i}"></a>
            </li>
            <li th:if="${currentPage < totalPage}" class="page-item">
                <a class="page-link" th:href="@{'?page='+${currentPage+1}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<th:block th:replace="fragments-admin::script"></th:block>
</body>
</html>
